In [1]:
import pandas as pd
import requests
import json

In [2]:
token = 'e7b7fedd-71d0-48c6-8cc7-749e22ba8e80'

In [3]:
req = requests.get('https://api.sncf.com/v1/coverage/sncf/vehicle_journeys/vehicle_journey:SNCF:2023-03-02:8707:1187:LongDistanceTrain',auth=(token, ''))

In [4]:
doc = json.loads(req.text)

In [5]:
df = pd.DataFrame(doc['vehicle_journeys'])
df_arret = pd.DataFrame(list(df['stop_times']))
df_arret = df_arret.T
df_arret = pd.DataFrame(list(df_arret[0]))
#df_arret

In [6]:
def get_name(string):
    string = string[10:]
    index_fin = string.find("', 'links'")
    return string[:index_fin]

df_arret['stop_point'] = df_arret['stop_point'].astype('str').apply(get_name)

In [7]:
df_arret

,stop_point,utc_arrival_time,utc_departure_time,headsign,skipped_stop,arrival_time,drop_off_allowed,pickup_allowed,departure_time
0,Paris - Montparnasse - Hall 1 & 2,074000,074000,8707,False,084000,False,True,084000
1,Laval,085500,085800,8707,False,095500,True,True,095800
2,Rennes,092500,092900,8707,False,102500,True,True,102900
3,Redon,100400,100630,8707,False,110400,True,True,110630
4,Vannes,102900,103200,8707,False,112900,True,True,113200
5,Auray,104200,104500,8707,False,114200,True,True,114500
6,Lorient,110030,110330,8707,False,120030,True,True,120330
7,Quimper,113800,113800,8707,False,123800,True,False,123800

In [8]:
list(df_arret['stop_point'])

['Paris - Montparnasse - Hall 1 & 2',
 'Laval',
 'Rennes',
 'Redon',
 'Vannes',
 'Auray',
 'Lorient',
 'Quimper']

In [12]:
liste_arrets = list(df_arret['stop_point'])
index_gare = liste_arrets.index('Rennes')
liste_arrets = liste_arrets[index_gare+1:]
print(liste_arrets)

['Redon', 'Vannes', 'Auray', 'Lorient', 'Quimper']

In [12]:
id = "vehicle_journey:SNCF:2023-03-02:877553:1187:Train:RealTime:9e6f9a47-bba6-48eb-8e65-dba9b2c48904"
index_id = id.index("RealTime")
id = id[:index_id-1]
print(id)

vehicle_journey:SNCF:2023-03-02:877553:1187:Train