In [1]:
import pandas as pd
import requests
import json

In [2]:
token = 'e7b7fedd-71d0-48c6-8cc7-749e22ba8e80'

In [3]:
req = requests.get('https://api.sncf.com/v1/coverage/sncf/vehicle_journeys/vehicle_journey:SNCF:2023-03-01:165493:1187:RapidTransit',auth=(token, ''))

In [4]:
doc = json.loads(req.text)

In [28]:
df = pd.DataFrame(doc['vehicle_journeys'])
df_arret = pd.DataFrame(list(df['stop_times']))
df_arret = df_arret.T
df_arret

                                                    0
0   {'stop_point': {'name': 'Paris - Montparnasse ...
1   {'stop_point': {'name': 'Vanves - Malakoff', '...
2   {'stop_point': {'name': 'Clamart', 'links': []...
3   {'stop_point': {'name': 'Meudon', 'links': [],...
4   {'stop_point': {'name': 'Bellevue', 'links': [...
5   {'stop_point': {'name': 'Sèvres Rive Gauche', ...
6   {'stop_point': {'name': 'Chaville Rive Gauche'...
7   {'stop_point': {'name': 'Viroflay Rive Gauche'...
8   {'stop_point': {'name': 'Versailles Chantiers'...
9   {'stop_point': {'name': 'Saint-Cyr', 'links': ...
10  {'stop_point': {'name': 'Saint-Quentin en Yvel...
11  {'stop_point': {'name': 'Trappes', 'links': []...
12  {'stop_point': {'name': 'La Verrière', 'links'...
13  {'stop_point': {'name': 'Coignières', 'links':...
14  {'stop_point': {'name': 'Les Essarts-le-Roi', ...
15  {'stop_point': {'name': 'Le Perray', 'links': ...
16  {'stop_point': {'name': 'Rambouillet', 'links'...

In [29]:
def get_name(string):
    index_deb = string.find("'name': '")
    string = string[index_deb+9:]
    index_fin = string.find("', '")
    return string[:index_fin]

In [30]:
df_arret[0] = df_arret[0].astype('str').apply(get_name)

In [32]:
df_arret

                                                    0
0                   Paris - Montparnasse - Hall 1 & 2
1                                   Vanves - Malakoff
2                                             Clamart
3                                              Meudon
4                                            Bellevue
5                                  Sèvres Rive Gauche
6                                Chaville Rive Gauche
7                                Viroflay Rive Gauche
8                                Versailles Chantiers
9                                           Saint-Cyr
10  Saint-Quentin en Yvelines - Montigny-le-Breton...
11                                            Trappes
12                                        La Verrière
13                                         Coignières
14                                 Les Essarts-le-Roi
15                                          Le Perray
16                                        Rambouillet

In [31]:
list(df_arret[0])

['Paris - Montparnasse - Hall 1 & 2',
 'Vanves - Malakoff',
 'Clamart',
 'Meudon',
 'Bellevue',
 'Sèvres Rive Gauche',
 'Chaville Rive Gauche',
 'Viroflay Rive Gauche',
 'Versailles Chantiers',
 'Saint-Cyr',
 'Saint-Quentin en Yvelines - Montigny-le-Bretonneux',
 'Trappes',
 'La Verrière',
 'Coignières',
 'Les Essarts-le-Roi',
 'Le Perray',
 'Rambouillet']

# Version Condensée

In [33]:
def get_name(string):
    index_deb = string.find("'name': '")
    string = string[index_deb+9:]
    index_fin = string.find("', '")
    return string[:index_fin]

In [36]:
req_arret = requests.get('https://api.sncf.com/v1/coverage/sncf/vehicle_journeys/vehicle_journey:SNCF:2023-03-01:165493:1187:RapidTransit',auth=(token, ''))
doc = json.loads(req.text)

df = pd.DataFrame(doc['vehicle_journeys'])
df_arret = pd.DataFrame(list(df['stop_times']))
df_arret = df_arret.T
df_arret[0] = df_arret[0].astype('str').apply(get_name)

list(df_arret[0])[1:]

['Vanves - Malakoff',
 'Clamart',
 'Meudon',
 'Bellevue',
 'Sèvres Rive Gauche',
 'Chaville Rive Gauche',
 'Viroflay Rive Gauche',
 'Versailles Chantiers',
 'Saint-Cyr',
 'Saint-Quentin en Yvelines - Montigny-le-Bretonneux',
 'Trappes',
 'La Verrière',
 'Coignières',
 'Les Essarts-le-Roi',
 'Le Perray',
 'Rambouillet']