In [78]:
import pandas as pd
import requests
import json
import datetime

In [79]:
token = 'e7b7fedd-71d0-48c6-8cc7-749e22ba8e80'

In [80]:
req = requests.get('https://api.sncf.com/v1/coverage/sncf/disruptions?since=20230302T000000&start_page=0&count=1000&',auth=(token, ''))

In [81]:
doc = json.loads(req.text)
row = len(doc['disruptions'])
print(f'Nombre de lignes : {row}')

Nombre de lignes : 1000

# Retard

## Liste des retards

In [82]:
df = pd.DataFrame(doc['disruptions'])
df.head(5)

,status,disruption_id,severity,impact_id,application_periods,updated_at,uri,impacted_objects,disruption_uri,contributor,cause,id,messages
0,future,c66e52fd-326e-4451-ad07-1dab0042f965,"{'color': '#000000', 'priority': 42, 'name': '...",c66e52fd-326e-4451-ad07-1dab0042f965,"[{'begin': '20230307T063500', 'end': '20230307...",20230302T162146,c66e52fd-326e-4451-ad07-1dab0042f965,[{'impacted_stops': [{'amended_arrival_time': ...,c66e52fd-326e-4451-ad07-1dab0042f965,realtime.sncf.piv,,c66e52fd-326e-4451-ad07-1dab0042f965,NaN
1,past,7818bf4b-19da-4fff-a9b2-97c6cf46db14,"{'color': '#000000', 'priority': 42, 'name': '...",7818bf4b-19da-4fff-a9b2-97c6cf46db14,"[{'begin': '20230302T071300', 'end': '20230302...",20230302T162146,7818bf4b-19da-4fff-a9b2-97c6cf46db14,[{'impacted_stops': [{'amended_arrival_time': ...,7818bf4b-19da-4fff-a9b2-97c6cf46db14,realtime.sncf.piv,,7818bf4b-19da-4fff-a9b2-97c6cf46db14,"[{'text': 'Défaillance de matériel', 'channel'..."
2,future,c5e4cc19-ad6f-44b3-b258-e26db849e853,"{'color': '#000000', 'priority': 42, 'name': '...",c5e4cc19-ad6f-44b3-b258-e26db849e853,"[{'begin': '20230304T181000', 'end': '20230304...",20230302T162146,c5e4cc19-ad6f-44b3-b258-e26db849e853,"[{'pt_object': {'embedded_type': 'trip', 'id':...",c5e4cc19-ad6f-44b3-b258-e26db849e853,realtime.sncf.piv,,c5e4cc19-ad6f-44b3-b258-e26db849e853,"[{'text': 'Indisponibilité d'un matériel', 'ch..."
3,past,a8d8d5f0-0ed1-416e-b544-b14f876cc1ef,"{'color': '#000000', 'priority': 42, 'name': '...",a8d8d5f0-0ed1-416e-b544-b14f876cc1ef,"[{'begin': '20230302T073100', 'end': '20230302...",20230302T162146,a8d8d5f0-0ed1-416e-b544-b14f876cc1ef,[{'impacted_stops': [{'amended_arrival_time': ...,a8d8d5f0-0ed1-416e-b544-b14f876cc1ef,realtime.sncf.piv,,a8d8d5f0-0ed1-416e-b544-b14f876cc1ef,"[{'text': 'Panne d'un passage à niveau', 'chan..."
4,future,145ac32e-9240-4857-b014-0af065222d35,"{'color': '#000000', 'priority': 42, 'name': '...",145ac32e-9240-4857-b014-0af065222d35,"[{'begin': '20230307T060000', 'end': '20230307...",20230302T162146,145ac32e-9240-4857-b014-0af065222d35,[{'impacted_stops': [{'amended_arrival_time': ...,145ac32e-9240-4857-b014-0af065222d35,realtime.sncf.piv,,145ac32e-9240-4857-b014-0af065222d35,NaN

## Etat du retard

In [83]:
df_info = pd.DataFrame(list(df['severity']))
df_info['updated_at'] = df['updated_at']
df_info.head(10)

     color  priority                name              effect       updated_at
0  #000000        42  additional service  ADDITIONAL_SERVICE  20230302T162146
1  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146
2  #000000        42       trip canceled          NO_SERVICE  20230302T162146
3  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146
4  #000000        42  additional service  ADDITIONAL_SERVICE  20230302T162146
5  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146
6  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146
7  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146
8  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146
9  #000000        42        trip delayed  SIGNIFICANT_DELAYS  20230302T162146

## Combinaison

In [84]:
df_fin = df_info.copy()
df_fin = df_fin[df_fin['effect'] == 'SIGNIFICANT_DELAYS']
df_fin = df_fin[['effect','updated_at']]
df_fin

                 effect       updated_at
1    SIGNIFICANT_DELAYS  20230302T162146
3    SIGNIFICANT_DELAYS  20230302T162146
5    SIGNIFICANT_DELAYS  20230302T162146
6    SIGNIFICANT_DELAYS  20230302T162146
7    SIGNIFICANT_DELAYS  20230302T162146
..                  ...              ...
979  SIGNIFICANT_DELAYS  20230302T162146
985  SIGNIFICANT_DELAYS  20230302T162146
988  SIGNIFICANT_DELAYS  20230302T162146
994  SIGNIFICANT_DELAYS  20230302T162146
999  SIGNIFICANT_DELAYS  20230302T162146

[425 rows x 2 columns]

In [85]:
gare_d = []
gare_a = []
cause = []
retard = []
heure_arr_prevue = []
heure_arr_reelle = []

for i in df_fin.index:
    df_mod = pd.DataFrame(list(df['impacted_objects'][i]))
    df_mod = pd.DataFrame(list(df_mod['impacted_stops'])[0])
    df_mod = df_mod[(df_mod['amended_arrival_time'].notnull())]
    df_mod = df_mod[(df_mod['base_arrival_time'].notnull())]

    retard_val = int(df_mod.iloc[-1]['amended_arrival_time']) - int(df_mod.iloc[-1]['base_arrival_time'])

    df_mod['gare'] = pd.DataFrame(list(df_mod['stop_point']))['name']

    gare_d.append(df_mod.iloc[0]['gare'])
    gare_a.append(df_mod.iloc[-1]['gare'])
    cause.append(df_mod.iloc[-1]['cause'])
    retard.append(str(retard_val)[:-2])
    heure_arr_prevue.append(df_mod.iloc[0]['base_arrival_time'])
    heure_arr_reelle.append(df_mod.iloc[0]['amended_arrival_time'])

In [86]:
def get_day(string):
    string = string[:8]
    return string[6:8]+'-'+string[4:6]+'-'+string[0:4]

In [87]:
df_fin

                 effect       updated_at
1    SIGNIFICANT_DELAYS  20230302T162146
3    SIGNIFICANT_DELAYS  20230302T162146
5    SIGNIFICANT_DELAYS  20230302T162146
6    SIGNIFICANT_DELAYS  20230302T162146
7    SIGNIFICANT_DELAYS  20230302T162146
..                  ...              ...
979  SIGNIFICANT_DELAYS  20230302T162146
985  SIGNIFICANT_DELAYS  20230302T162146
988  SIGNIFICANT_DELAYS  20230302T162146
994  SIGNIFICANT_DELAYS  20230302T162146
999  SIGNIFICANT_DELAYS  20230302T162146

[425 rows x 2 columns]

In [88]:
df_fin = df_fin.drop(['effect'], axis=1)

df_fin['Gare (départ)'] = gare_d
df_fin['Gare (arrivée)'] = gare_a
df_fin['updated_at'] = df_fin['updated_at'].apply(get_day)
df_fin["Arrivée (réelle)"] = heure_arr_reelle
df_fin["Arrivée (prévue)"] = heure_arr_prevue
df_fin['Retard (min)'] = retard
df_fin['Cause'] = cause

df_fin.rename(columns = {'updated_at':'Jour'}, inplace = True)

In [89]:
def str_tps(str):
    return datetime.datetime.strptime(str, '%H%M%S').time()

df_fin["Arrivée (réelle)"] = df_fin["Arrivée (réelle)"].apply(str_tps)
df_fin["Arrivée (prévue)"] = df_fin["Arrivée (prévue)"].apply(str_tps)

In [90]:
df_fin

,Jour,Gare (départ),Gare (arrivée),Arrivée (réelle),Arrivée (prévue),Retard (min),Cause
1,02-03-2023,Lille Flandres,Calais Ville,07:23:00,07:13:00,10,Défaillance de matériel
3,02-03-2023,Rennes,Marseille - Saint-Charles,07:31:00,07:31:00,5,Panne d'un passage à niveau
5,02-03-2023,Bordeaux Saint-Jean,Saint-Mariens - Saint-Yzan,07:13:00,07:08:00,5,
6,02-03-2023,Calais Ville,Amiens,12:18:00,12:18:00,5,Travaux sur les voies
7,02-03-2023,Nevers,Paris-Bercy Bourgogne - Pays d'Auvergne,10:33:00,10:23:00,5,Réutilisation d'un train
...,...,...,...,...,...,...,...
979,02-03-2023,Paris Nord,Lille Flandres,08:56:00,08:46:00,10,Difficultés lors de la préparation du train
985,02-03-2023,Toulouse Matabiau,Carcassonne,08:23:00,08:08:00,15,Réutilisation d'un train
988,02-03-2023,Lyon Part Dieu,Avignon Centre,16:30:00,16:20:00,50,Réutilisation d'un train
994,02-03-2023,Strasbourg,Saverne,23:30:00,23:25:00,5,Prise en charge de clients en correspondance
999,02-03-2023,Tours,Le Mans,15:25:00,15:10:00,10,Mise à quai tardive en gare origine

In [91]:
#df_fin['Retard (min)'] = df_fin['Retard (min)'].astype('int32')
#df_fin['Retard (min)'].mean()

In [92]:
df_fin.to_excel('test.xlsx')